<%- include("partials/header"); -%>

<header>
  <div>
    <h2>Signup Page</h2>
  </div>
  <form>
    <label for="email">Email</label>
    <input type="text" name="email" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <div class="error"></div>
    <button>Sign Up</button>
  </form>
</header>

<script>
  const form = document.querySelector("form");
  const Error = document.querySelector(".error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset error
    Error.textContent = "";

    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch("/signup", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email, password }),
      });

      const data = await res.json();

      if (data.error) {
        Error.textContent = data.error;
      }

      if (data.user) {
        location.assign("/");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include("partials/footer"); -%>
